<head><#include "components/header.ftlh"><title>Урок</title></head>

<p><a href="/lessons">Назад ко всем урокам</a></p>
<p><a href="/lessons/${lesson.id}/edit">Редактировать урок</a></p>
<h1 class="text-danger">${lesson.name}</h1>
<div class="text-light bg-dark">2324234324</div>
<#--
<h1>${course.title}</h1>
<h2>Студенты в курсе</h2>
<table>
    <tr>
        <th>Email</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <td>Действия</td>
    </tr>
    <#list inCourseStudents as student>
        <tr>
            <td>${student.email}</td>
            <td>${student.firstName}</td>
            <td>${student.lastName}</td>
            <td>
                <a href="/users/${student.id}">Перейти</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/courses/${course.id}/students" method="post">
    <label>Студенты
        <select name="student-id">
            <#list notInCourseStudents as student>
                <option value="${student.id}">${student.firstName} ${student.lastName}</option>
            </#list>
        </select>
    </label>
    <input type="submit" value="Добавить">
</form>-->
<#include "components/footer.ftlh">