<head><#include "components/header.ftlh"><title>Добавление категория</title></head>
<#include "components/navigation.ftlh">

<h2>Добавление категория</h2>
<form action="/category/add" method="post">
    <label>
        Название
        <input type="text" name="title" placeholder="Введите название">
    </label>
    <br>
    <input autofocus type="submit" value="Добавить"/>
</form>

<#include "components/footer.ftlh">