<head><#include "components/header.ftlh"><title>Изменение продукта</title></head>
<#include "components/navigation.ftlh">

<h2>Изменение продукта ${product.title}</h2>
<form action="/product/${product.id}/edit" method="post">
    <label>
        Название
        <input type="text" name="title" placeholder="Введите название" value="${product.title}">
    </label>
    <br>
    <label>
        Цена
        <input type="text" name="price" placeholder="Введите цену" value="${product.price}">
    </label>
    <br>
    <label>
        Кол-во
        <input type="text" name="quantity" placeholder="Введите кол-во" value="${product.quantity}">
    </label>
    <br>
    <label>Категория
        <select name="category-id">
            <#list categories as category>
                <option value="${category.id}" <#if category.id == product.category.id>selected</#if>>
                    ${category.title}
                </option>
            </#list>
        </select>
    </label>
    <br>
    <input autofocus type="submit" value="Изменить"/>
</form>

<#include "components/footer.ftlh">