ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
td, th {
    border: 1px solid #777;
    padding: 15px;
    padding-left: 55px;
    padding-right: 55px;
}
table {
    border-collapse: collapse;
}