<div>
    <ul>
        <li><a href="/profile">Мой профиль</a></li>
        <li><a href="/users">Пользователи</a></li>
        <li><a href="/products">Продукты</a></li>
        <li><a href="/orders">Заказы</a></li>
        <li><a href="/logout">Выход</a></li>
    </ul>
</div>